<!-- <p>todo-details works!</p> -->
<div class="success" *ngIf="loading">
  <span class="spinner"></span>

  <span>Getting your todo Details...</span>
</div>
<div class="details-page" *ngIf="!loading">
  <!-- loading -->




  <div class="error" *ngIf="error">
    <span class="message-icon">✓</span>

    <span>{{ error }}</span>
  </div>



  <!-- Back -->
  <button class="back-btn" routerLink="/users/list">
    ← Back to Todos
  </button>

  <!-- Page heading -->
  <div class="page-heading">
    <span>Todo Details</span>
    <p>View and manage your task</p>
  </div>

  <!-- Details Card -->
  <div class="details-card">

    <!-- Decorative corner -->
    <div class="corner-shape"></div>

    <!-- Status -->
    <div class="todo-status">
      <span></span>
      {{todo.status}}
    </div>

    <!-- Title -->
    <div class="todo-title">
      <div class="check-icon">✓</div>

      <h2> {{todo.title}} </h2>
    </div>

    <!-- Description -->
    <div class="description">
      <h6>Description</h6>

      <p>
        {{todo.description}}
      </p>
    </div>

    <!-- Information -->
    <div class="todo-info">

      <div class="info-box">
        <span class="info-label">Status</span>
        <strong> {{todo.status}} </strong>
      </div>

      <div class="info-box">
        <span class="info-label">Created</span>
        <strong>{{todo.created_at | date}}</strong>
      </div>

    </div>

    <!-- Actions -->
    <div class="actions">

      <button class="edit-btn">
        ✎ Edit Todo
      </button>

      <button class="delete-btn">
        🗑 Delete
      </button>

    </div>

  </div>

</div>