footer{
    // background: #fff8f1;
    background-color: #f0643d;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    color: #fff8f1;

    p{
        padding: 10px;
        text-align: center;
    }
}